/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}

h1 {
    color: #444;
    text-align: center;
    margin-top: 20px;
    font-size: 2em;
}

h2 {
    color: #555;
    margin: 10px 0;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    border: 1px solid #ddd;
    margin: 10px 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Container */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Buttons */
button {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
/* Header */
header {
    background: linear-gradient(135deg, #240046, #3a0ca3); /* Ajustado a la paleta galáctica */
    color: #ffffff;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    font-size: 1.8em;
    font-weight: bold;
}

header nav {
    margin-top: 10px;
}

header nav a {
    color: #eaeaea; /* Enlaces claros */
    margin: 0 15px;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s;
}

header nav a:hover {
    color: #4ea8de; /* Efecto hover */
}


/* Footer */
footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    font-size: 0.9em;
}
