<h1>{{titulo}}</h1>
<ul>
    {{#each contactos}}
    <li>
        <strong>Email:</strong> {{this.email}}<br>
        <strong>Teléfono:</strong> {{this.telefono}}<br>
        <strong>Redes Sociales:</strong> {{this.redes_sociales}}
    </li>
    {{/each}}
</ul>
